<!DOCTYPE html>

<html>
    <head>
        <title>记数字--小林游戏</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta content="telephone=no" name="format-detection" />
        <!-- UC强制全屏 -->
        <meta name="full-screen" content="yes">
        <!-- QQ强制全屏 -->
        <meta name="x5-fullscreen" content="true">
        <!-- UC应用模式 -->
        <meta name="browsermode" content="application">
        <!-- QQ应用模式 -->
        <meta name="x5-page-mode" content="app">
        <link href="__PUBLIC__/assets/css/index.css" type="text/css" rel="stylesheet">
        <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/assets/images/icon.png" />
        <!--<script src="__PUBLIC__/assets/js/libs/zepto/zepto.js"></script>-->
        <link href="http://www.jqcool.net/demo/201406/jquery-toastr/toastr.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/assets/js/ToProgress.min.js"></script>
        <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://www.jqcool.net/demo/201406/jquery-toastr/toastr.js"></script>
        <script>
            MY_NAME = '{$name}';
            TIME = '{$time}';
            HASH = '{$hash}';
            ID = '{$id}';
            toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-full-width",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "1500",
            "extendedTimeOut": "500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            };
        </script>
        <script src="__PUBLIC__/assets/js/SocketApi.js"></script>
        <script src="__PUBLIC__/assets/js/Game.js" ></script>
        <script src="__PUBLIC__/assets/js/Evn.js" ></script>
    </head>
<body>
<div class="all">
	<div class="index">
        <div class="enterbt">
            <div><button  class="btn enterbtn new">创建房间</button></div>
            <div class="inputroom">
            <button  class="btn enterbtn js-inputroom">输入房号</button>
            <input  class="inputr" type="text"/>
            <a  class="arrow"></a>
            </div>
            <div><button  class="btn enterbtn quick">快速进入</button></div>
        </div>
        <div class="enterbg">
            <img src="__PUBLIC__/assets/images/numbg.png"/>
        </div>
    </div>
    
    <div class="room">
        
        <a class="room_id">房号:<span>51</span></a>
    	<div class="top">
    		<div class="enemy">
                        <div class="block block_12 hidemyblock myblock"><a class="gamenum">10</a></div>
                        <div class="block block_7 hidemyblock myblock"><a class="gamenum">8</a></div>
                        <div class="block block_8 hidemyblock myblock"><a class="gamenum">6</a></div>
        		<div class="block block_9 hidemyblock myblock"><a class="gamenum">12</a></div>
                        
        		
                        <div class="block block_11 hidemyblock myblock"><a class="gamenum">11</a></div>
                        <div class="block block_4 hidemyblock myblock"><a class="gamenum">4</a></div>
                        <div class="block block_3 hidemyblock myblock"><a class="gamenum">2</a></div>
                        <div class="block block_5 hidemyblock myblock"><a class="gamenum">9</a></div>
                        
                        <div class="block block_10 hidemyblock myblock"><a class="gamenum">5</a></div>
        		<div class="block block_1 hidemyblock myblock"><a class="gamenum">3</a></div>
        		<div class="block block_2 hidemyblock myblock"><a class="gamenum">45</a></div>
        		<div class="block block_6 hidemyblock myblock"><a class="gamenum">78</a></div>
            </div>
             <button  class="back"></button>
            <div class="checkpoint">
            	<h3>关卡</h3>
                <h3 class="level">1</h3>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="ifo">
            <a id="opp_name">小明：2</a><a class="pk">PK</a><a id="my_name">小红：2</a>
       		<div class="ready you">准备好了</div>
            <div class="ready my">准备好了</div>
        </div>
        <div style="clear:both"></div>
        <div class="mygame">
            <div class="block block_6 hidemyblock myblock"><a class="gamenum">78</a></div>
            <div class="block block_2 hidemyblock myblock"><a class="gamenum">45</a></div>
            <div class="block block_1 hidemyblock myblock"><a class="gamenum">3</a></div>
            <div class="block block_10 hidemyblock myblock"><a class="gamenum">5</a></div>
            <div class="block block_5 hidemyblock myblock"><a class="gamenum">9</a></div>
            <div class="block block_3 hidemyblock myblock"><a class="gamenum">2</a></div>
            <div class="block block_4 hidemyblock myblock"><a class="gamenum">4</a></div>
            <div class="block block_11 hidemyblock myblock"><a class="gamenum">11</a></div>
            <div class="block block_9 hidemyblock myblock"><a class="gamenum">12</a></div>
            <div class="block block_8 hidemyblock myblock"><a class="gamenum">6</a></div>
            <div class="block block_7 hidemyblock myblock"><a class="gamenum">8</a></div>
            <div class="block block_12 hidemyblock myblock"><a class="gamenum">10</a></div>
        </div>
   </div>
   
    <div class="time">
    	<a>1</a>
    </div> 
</div>
</body>  
</html>

