<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>小林游戏</title>
<link href="__PUBLIC__/assets/css/index.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script>
window.base_url = "__MODULE__";
</script>
</head>

<body>
<canvas width="100%" height="100%" class="snow"></canvas>
<div class="main" id="fsvs-body">
	<div class="slide">
    	<div class="logo">
        	<img src="__PUBLIC__/assets/images/logo.png"/>
        </div>
        <div  class="listgame"> 
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="gamedetail slide">       
    </div>
    <div style="clear:both"></div>
    <div class="roomdetail slide">     
    	<div class="roomname"><span>抢豆豆</span>---房间1</div>
    	<div class="back">
        	<a href="javascript:(1)">退出房间</a>
        </div>
        <div class="gamebtn">
        	<button class="gameready">准&nbsp;&nbsp;备</button>
        </div>
        <div class="roomdet_con">
        	<div class="con_table">
            	<div class="table_inner">
                	<img src="__PUBLIC__/assets/images/eatdoubg.png"/>
                </div>
            </div>
            <div class="roomplayer playerleft">
            </div>
            <div class="roomplayer playerright">
            </div>
            <div class="roomplayer playertop">
            </div>
            <div class="roomplayer playerbottom">
            </div>
        </div>
    </div>

    
</div>
<script src="__PUBLIC__/assets/js/ToProgress.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.let_it_snow.js"></script>
<script src="__PUBLIC__/assets/js/fsvs.js"></script>
<script src="__PUBLIC__/assets/js/mustache.min.js"></script>
<script src="__PUBLIC__/assets/js/tem.js"></script>
<script src="__PUBLIC__/assets/js/core.js"></script>
<script type="text/javascript">
$(document).ready( function() {
	if( $.fn.fsvs ) {
		var slider = $.fn.fsvs({
			speed : 1000,
			bodyID : 'fsvs-body',
			selector : '> .slide',
			beforeSlide : function(data){core.load_page(data)},
			arrowKeyEvents: false,
			mouseWheelEvents: false,
			mouseDragEvents : false,
			touchEvents: false,
			pagination: false,
		});
	}
	window.fsvs = slider;
	slider.init();
	$("canvas.snow").let_it_snow();	
	core.page.game.init();
});
</script>
</body>
</html>
