@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
	}
body{
	background:#a3d0a7;
	font:normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
	}
.btn{
	border:none;
	background:#f39800;
	color:#fff;
	cursor:pointer;
	}
.enterbtn{
	width:70%;
	height:50px;
	font-size:18px;
	margin:20px 0px;
	border-radius:5px;
	box-shadow: 0 2px 1px #999;
	-moz-box-shadow: 0 2px 1px #999;
	-webkit-box-shadow: 0 2px 1px #999;
	}
.all{
	width:100%;
	height:100%;
	position:fixed;
	}
.enterbt{
	width:60%;
	margin:0 auto;
	padding-top:40px;
	}
.enterbt div{
	text-align:center;
	}
.inputroom{
	position:relative;
	}
.inputroom .inputr{
	width:70%;
	height:40px;
	border:2px solid #f39800;
	border-radius:5px;
	text-align:center;
	position:absolute;
	font-size:18px;
	font-weight:bold;
	color:#f39800;
	right:-120%;
	top:24px;
	}
.all .arrow{
	width:34%;
	height:40px;
	background:url(../images/arrow.png) no-repeat;
	background-size:100%;
	position:absolute;
	border:none;
	right:-135%;
	top:32px;
	}
.enterbg{
	width:100%;
	margin:30px 0;
	text-align:center;
	}
.enterbg img{
	width:100%;
	}
.room{
	padding:0 20px;
	height:100%;
	opacity:1;
	display:none;
	}
.room .top{
	width:100%;
	height:25%;
	margin-top:5%;
	margin-bottom:3%;
	float:left;
	position:relative;
	}
.back{
	position:absolute;
	border:none;
	background:url(../images/back.png);
	width: 40px;
	height: 40px;
	top: -8px;
	left: 69%;
	background-size: 100%;
	}
.room .enemy{
	width:55%;
	height:100%;
	float:left;
	}
.room .top .checkpoint{
	width:35%;
	height:62%;
	float:left;
	text-align:center;
	color:#fff;
	margin-top:10%;
	background:#f5d7a4;
	margin-left: 5%;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	box-shadow:0 10px 2px #fff;
	}
.room .top .checkpoint h3{
	line-height:40px;
	font-weight:bold;
	font-size: 22px;
	}
.room .gamenum{
	display:inline-block;
	margin-top:35%;
	font-size:30px;
	color:#D8A347;
	text-align:center;
	font-weight:bold;
	}
.room .enemy .gamenum{
	font-size:14px;
	}
.room .ifo{
	width:100%;
	height:9%;
	margin:3% 0;
	background:#f5d7a4;
	border-radius:5px;
	position:relative;
	}
.room .ifo a{
	padding-top:2%;
	color:#fff;
	font-size:18px;
	display:inline-block;
	height:75%;
	width:33%;
	text-align:center;
	font-weight:bold;
	letter-spacing:3px;
	}
.room .ifo .pk{
	color:#f39800;
	font-size:24px;
	width:34%;
	}
.room .mygame{
	margin-top:6%;
	height:52%;
	}
.room .block{
	width:21%;
	height:28%;
	float:right;
	border-radius:5px;
	margin:0 2%;
	margin-bottom:6%;
	text-align:center;
	}
.room .hidemyblock{
	background:#f5d7a4;
	box-shadow:0 6px 1px #fff;
	}
.room .hidemyblock.myblock{
	background:#fff;
	box-shadow:0 6px 1px #f5d7a4;
	}
.ready{
	color:#f39800;
	position:absolute;
	}
.ready.my{
	font-size:1px;
	right:40%;
	display:none;
	top:140%;
	}
.ready.you{
	top:65%;
	left:5%;
	display:none;
	}

/*倒计时	*/
.time{
	width:160px;
	height:160px;
	border:20px solid #D77644;
	border-radius:100%;
	position:absolute;
	top:30%;
	left:25%;
	text-align:center;
	display:none;
	opacity:0;
}
.time a{
	line-height:160px;
	font-size:40px;
	color:#D77644;
	font-size:90px;
	font-weight:bolder;
}

.block.error{
    background-color: #b94a48 !important;
}